*{
    margin: 0;
    padding: 0;
}
/* 图片背景 */
body{
    background-image: url(../images/forecast.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}
/* 大标题 */
.title{
    padding-top: 140px; 
    padding-bottom: 100px;
    padding-left: 100px;
}
/* 页面导航栏 */
ul { padding-left: 0; 
}
ul li { list-style-type: none; 
}
a { color: inherit; text-decoration: none; 
}
.page-header {
    background-color: rgb(255, 255, 255);
    position: absolute;
    width: 100%;
    min-width: 960px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    z-index: 1;
}

.page-header.sticky {
    position: fixed;
    top: 0;
} 

.page-header > .inner {
    margin: auto;
    width: 960px;
}

.no-boxshadow .page-header {
    border-bottom: 1px solid rgb(204, 204, 204);
}

.primary-nav {
    float: right;
    line-height: 80px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.primary-nav li {
    float: left;
}
.primary-nav a {
    display: block;
    padding: 0 1.36em;
}
.primary-nav a:hover {
    background-color: rgb(240, 240, 240);
}

/*主要部分*/
.b1{
    width: 1150px;
    /*height: 7000px;*/
    margin: 100px auto 0;
    border-top: 1px rgba(255, 255, 255, 0.8) solid;
    background-color: rgba(255, 255, 255, 0.8);
}
.公式解释{
    margin: 50px;
    /*background-color: #10aeb5;*/
    width: 1050px;
    font-weight: bolder;
}
.数据部分{
    margin: 50px;
    /*background-color: #10aeb5;*/
    width: 1050px;
    font-weight: bolder;
}
.表格之间的间隔{
    height: 50px;
}
/*页面尾部*/
footer{
    width: 1150px;
    height: 150px;
    margin: 70px auto 0;
    border-top: 1px rgba(255, 255, 255, 0.7) solid;
    background-color: rgba(255, 255, 255, 0.7);
}
.text{
    width: 1050px;
    margin: 30px auto 0;
    text-align: center;
}